.features{
    text-align: center;
    padding-top:63px;
    background: $bg2;

    &__title{
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color:$black;
    }
    &__card{
        display: flex;
        flex-direction: row;
        text-align: center;
        // flex: 0 0 33%;
        justify-content: space-around;
        padding:63px 30px 30px 0;

        &-image{
            width: 350px;
            height: 250px;
            border-radius: 8px;
            margin-bottom: 292px;
        }
        &-item{
            position: absolute;
            width: 293px;
            height: 198px;
            background: $white;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-top: 157px;
            z-index:1;
        }
        &-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: $cardblack;
            padding: 33px 32px 20px 32px;
        }
        &-text{
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            /* or 18px */
            color: $cardblack;
            padding: 0 32px 5px 32px;
        }
        &-link{
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 150%;
            /* identical to box height, or 18px */
            color: $redbutton;
        }
    }
}