// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all .3s;
}

/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
   * Basic styles for links
   */

a {
  color: $white;
  text-decoration: none;
  // @include on-event {
  //     color: $white;
  //     text-decoration: underline;
  // }
}

/**
 * Clear inner floats
 */

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
     * Main content containers
     * 1. Make the container full-width with a maximum width
     * 2. Center it in the viewport
     * 3. Leave some space on the edges, especially valuable on small screens
     */

.container {
  min-width: $min-width;
  // max-width: $max-width; /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  // padding-left: 20px;
  // /* 3 */
  // padding-right: 20px;
  // /* 3 */
  width: 100%;
  /* 1 */
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0 0 100%;
}
.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: $medium-width) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
  }
  .wrapper{
    width:80%;
  }
}
@media only screen and (min-width: $max-width) {
  .wrapper {
    width: 1110px;
  }
}


